<mat-card>
    <mat-card-header>
        <h3>Student Edit</h3>
    </mat-card-header>

    <mat-card-content *ngIf="aluno != null; else naoEncontrado">
        <p>
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput [(ngModel)]="aluno.id" disabled>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="aluno.nome">
            </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="aluno.email">
        </mat-form-field>
        </p>

        <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    </mat-card-content>

    <ng-template #naoEncontrado>
        <p>Aluno não encontrado</p>
    </ng-template>
</mat-card>